body {
    font-family: Arial, sans-serif;
    background-color: #F7F7FF;
    margin: 0;
    padding: 0;
}

p{

margin: 0;
text-justify: distribute;
color: #545E75;
}

.toc-list li > a {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #C03221;
}

.student-info {
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.subjects, .achievements {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Estilos adicionales según tus preferencias */
